* {
  margin: 0px;
  padding: 0px;
}
body {
  width: 99.69vw;
  height: 99.5vh;
  border: 2px solid black;
}
button {
  width: 5vw;
  height: 5vh;
  margin: 20px;
  font-size: larger;
  font-weight: 500;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.container {
  width: 90vw;
  height: 80vh;
  border: 2px solid black;
}
.divclass1 {
  width: 20vw;
  height: 25vh;
  border: 2px solid black;
  margin: 4px;
  background-color: blue;
}
.divclass2 {
  width: 20vw;
  height: 25vh;
  border: 2px solid black;
  margin: 4px;
  background-color: red;
}
.divclass3 {
  width: 20vw;
  height: 25vh;
  border: 2px solid black;
  margin: 4px;
  background-color: chartreuse;
}

#divid1,#divid2,#divid3{
    display: none;
}
