* {
  margin: 0px;
  padding: 0px;
}
body {
  width: 99.5vw;
  height: 89.7vh;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

/* ! All containers */
.input_conatainer,
.select_container,
.img_conatainer,
.buton_container {
  display: flex;
  justify-content: center;
}
#h1_heading_tag {
  margin-left: 42vw;
  margin-top: 2vh;
  font-family: "Playwrite HR", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
#main_container {
  width: 65vw;
  height: 55vh;
  margin-top: 2vw;
  margin-left: 22vw;
  border-radius: 20px;
  background: linear-gradient(90deg, #cef9d2, #bae8f4);
  align-content: center;
}
/* ? IMG */
.flag_img_tag {
  width: 10vw;
}
#flag_id1 {
  margin-right: 12vw;
}
/* ? Inpute*/
.inputno_class {
  border: 2px solid transparent;
  width: 6vw;
  height: 4vh;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 6px;
  transition: all 0.5s;
  font-weight: 720;
  font-family: 'Arial Narrow Bold', sans-serif  ;
}
.inputno_class:hover,
.inputno_class:focus {
  border: 2px solid #4a9dec;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}
#arrow_img_icons {
  height: 15px;
  width: 20px;
  margin-top: 5px;
}
#input_ID1 {
  position: relative;
  margin-right: 10vw;
  left:  2.9vw;
}
#H6_curr_id {
  margin-left: 7vw;
}
.inputno_class::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.H6_Currency {
  /* margin-top: 2px; */
  font-size: large;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
/* ? Select */
.Select {
  width: 8vw;
  height: 4vh;
  margin-bottom: 5vh;
  border: 0px solid rgb(255, 255, 255);
  border-radius: 7px;
}
#Select_id1 {
  margin-right: 16vw;
}

.boton-elegante {
  margin-top: 35px;
  padding: 2px 4px 2px 4px;
  border: 2px solid #2c2c2c;
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

.boton-elegante::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

.boton-elegante:hover::after {
  transform: scale(4);
}

.boton-elegante:hover {
  border-color: #666666;
  background: #292929;
}
