* {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  padding: 0%;
  margin: 0%;
}
body {
  width: 200vh;
  height: 99vh;
}
header {
}
.heading_sps {
  border: 2px solid black;
  margin-top: 5vh;
  margin-left: 35vw;
  display: inline;
  height: 10vh;
  font-family: "Playwrite US Trad", cursive;
  font-optical-sizing: auto;
  font-size: 7vh;
  background-color: rgba(95, 95, 243, 0.721);
}
.choices {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 4vh;
}

.imgs {
  width: 40vh;
  margin-left: 12px;
}
.score_bord {
  margin-top: 7vh;
  display: flex;
  justify-content: center;
  gap: 2vw;
}
.scores {
  font-size: 6vh;
}
.win_msger {
  display: inline-block;
  margin-left: 45vw;
  margin-top: 10vh;
  font-family: cursive;
  font-size: 6vh;
}
