*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
    height: 100%;
    
    background: linear-gradient(268deg, rgb(242, 242, 32) 0%, rgb(242, 144, 40) 50%, rgb(255, 109, 64) 100%);
    
}

.main_container{
    width:  60vh;
    height: 60vh;
    margin-left: 40vw;
    display: flex;
    justify-content: center;
    align-content: center;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 45%;
}

.boxes_container{
    width: 60vmin;
    height:60vmin;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    
}
.class_box{
    border-radius: 5px;
    width: 18vmin;
    height:18vmin;
    color: brown;
    background-color: rgb(247, 201, 145);
    font-weight: 600;
    font-size: x-large;
    padding: 20px;
}
.class_box:active,.class_box:hover{
    border: 1px solid red;
    background-color: rgb(246, 184, 109);
}

#newbuton{
margin-left: 47vw;
height: 10vmin;
width: 21vmin;
/* visibility: hidden; */
position: absolute;

}
#Reset{
    margin-top: 6vw;
    margin-left: calc(48vw + 4px);
    width: 7vw;
    height: 3vw;
}
.ex-buttons{
    border-radius: 5px;
}